name: Docker

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Sanity check YAML + list repo
        run: |
          pwd
          ls -la
          ls -la .github/workflows || true
          ls -la templates || true
